{% extends 'base.html' %}
{% block content %}

<form method="POST" class="form-register" style="color: white; width: fit-content;" >
    {{ form.hidden_tag() }}
    <br>

    {{ form.select_by.label() }}
    {{ form.select_by(class="form-control",placeholder="") }}
    {{ form.sort_by.label() }}
    {{ form.sort_by(class="form-control",placeholder="") }}
    <br>
    {{form.submit(class="btn-lg btn-block btn-primary")}}
</form>

<body>
    
    <center><h4>Leave Requests</h4></center>
</body>
<br>
<table class="table table-hover table-dark">
  <thead>
      <tr>
          <!-- Your Columns HERE -->
          <th scope="col">Applied On</th>
          <th scope="col">Applied At</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">No of Days</th>
          <th scope="col">Type</th>
          <th scope="col">Nature of Leave</th>
          <!-- <th scope="col">Status</th> -->
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for entry in leave_applied %}
          <tr>
              <td>{{ entry.Leave.applied_date }}</td>
              <td>{{ entry.Leave.applied_time }}</td>
              <td>{{ entry.Leave.start_date }}</td>
              <td>{{ entry.Leave.end_date }}</td>
              <td>{{ entry.Leave.no_of_days }}</td>
              <td>{{ entry.Leave.leave_category }}</td>
              <td>{{ entry.Leave.nature_of_leave }}</td>
              <!-- {% if entry.ProcessedLeave.status=='Approved' or entry.ProcessedLeave.status=='Rejected' %}
                <td>{{ entry.ProcessedLeave.status }}</td>    
              {% else %}
                <td>Pending</td> 
              {% endif %} -->
              <td>
                <a class="btn btn-primary" href="{{ url_for('requested_leave_page', role = 'HOD', leave_id = entry.Leave.id, user_name=current_user.username, request_type = 'Approve') }}">View</a>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
<center><h4>Leave Cancellation Requests</h4></center>
<table class="table table-hover table-dark">
  <thead>
      <tr>
          <!-- Your Columns HERE -->
          <th scope="col">Applied On</th>
          <th scope="col">Applied At</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">No of Days</th>
          <th scope="col">Type</th>
          <th scope="col">Nature of Leave</th>
          <!-- <th scope="col">Status</th> -->
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for entry in cancellation_requests %}
          <tr>
              <td>{{ entry.Leave.applied_date }}</td>
              <td>{{ entry.Leave.applied_time }}</td>
              <td>{{ entry.Leave.start_date }}</td>
              <td>{{ entry.Leave.end_date }}</td>
              <td>{{ entry.Leave.no_of_days }}</td>
              <td>{{ entry.Leave.leave_category }}</td>
              <td>{{ entry.Leave.nature_of_leave }}</td>
              <!-- {% if entry.ProcessedLeave.status=='Approved' or entry.ProcessedLeave.status=='Rejected' %}
                <td>{{ entry.ProcessedLeave.status }}</td>    
              {% else %}
                <td>Pending</td> 
              {% endif %} -->
              <td>
                <a class="btn btn-primary" href="{{ url_for('requested_leave_page', role = 'HOD', leave_id = entry.Leave.id, user_name=current_user.username, request_type = 'Cancel') }}">View</a>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}