{% extends 'base.html' %}

{% block content %}
<body>
    <center >
      <h2>Application for Leave</h2>
      <table class="key-value-table">
        <tbody>
            <br>
            <br>
            <tr>
              <th>Applied on (Date) : </th>
              <td>{{ leave_applied.applied_date }}</td>
            </tr>
            <tr>
              <th>Applied at (Time) : </th>
              <td>{{ leave_applied.applied_time }}</td>
            </tr>
            <tr>
              <th class="width-20">Name : </th>
              <td>{{ current_user.name }}</td>
            </tr>
            <tr>
              <th>Nature of Leave : </th>
              <td>{{ leave_applied.nature_of_leave }}</td>
            </tr>
            <tr>
              <th>Leave Category : </th>
              <td>{{ leave_applied.leave_category }}</td>
            </tr>
            <tr>
              <th>Start Date : </th>
              <td>{{ leave_applied.start_date }}</td>
            </tr>
            <tr>
              <th>End Date : </th>
              <td>{{ leave_applied.end_date }}</td>
            </tr>
            <tr>
              <th>Number of Days : </th>
              <td>{{ leave_applied.no_of_days }}</td>
            </tr>
            <tr>
              <th>Pusrpose of Leave : </th>
              <td>{{ leave_applied.purpose_of_leave }}</td>
            </tr>
            <tr>
              <th>Alternative arrangements(if any) : </th>
              <td>{{ leave_applied.alternative_arrangements }}</td>
            </tr>
            <tr>
              <th>Station leave Required : </th>
              <td>{{ leave_applied.station_leave_required }}</td>
            </tr>
            <tr>
              <th>SL start date : </th>
              <td>{{ leave_applied.sl_start_date }}</td>
            </tr>
            <tr>
              <th>SL end date : </th>
              <td>{{ leave_applied.sl_end_date }}</td>
            </tr>
            <tr>
              <th>Address during Leave : </th>
              <td>{{ leave_applied.address_during_leave }}</td>
            </tr>
            <tr>
              <th>Phone Number : </th>
              <td>{{ leave_applied.phone_number }}</td>
            </tr>
            {% if status != None and leave_applied.leave_category == 'Non Casual' %}
              <tr>
                <th>HOD Status : </th>
                <td>{{status.hod_status}}</td>
                <th>Remarks : </th>
                <td>{{status.hod_remarks}}</td>
              </tr>
              <tr>
                <th>Administration Status :</th>
                <td>{{status.administration_status}}</td>
                <th>Remarks : </th>
                <td>{{status.administration_remarks}}</td>
              </tr>
              <tr>
                <th>Dean Status :</th>
                <td>{{status.dean_registrar_status}}</td>
                <th>Remarks : </th>
                <td>{{status.dean_registrar_remarks}}</td>
              </tr>
              <br>
            {% elif status != None and leave_applied.leave_category == 'Casual' %}
              <tr>
                <th>Status : </th>
                <td>{{status.hod_status}}</td>
                <th>Remarks : </th>
                <td>{{status.hod_remarks}}</td>
              </tr>
              <br>
            {% else %}
              <tr>
                <th>Status :</th>
                <td>Pending</td>
              </tr>
              <br>
            {% endif %}
            {% if cancel_leave != None %}
              <tr>
                <th>Leave Cancellation Status :</th>
                <td>{{cancel_leave.status}}</td>
              </tr>
            {% endif %}

            <!-- <tr>
              <th>Status : </th>
              {% if status=='Pending' %}
                <td style="color: darkgoldenrod; font-weight: bold ;">{{ status }}</td>
              {% elif status=='Approved' or status=='Recommended' %}
                <td style="color: rgb(11, 245, 11); font-weight: bold ;" >{{ status }}</td>
              {% else %}
                <td style="color: red; font-weight: bold ;">{{ status }}</td>
              {% endif %}
            </tr> -->
        </tbody>
      </table>
      <br>
      <br>
      {% if status != None  and cancel_leave == None %}
        <a class="btn btn-primary" href="{{ url_for('cancel_leave_form', role = current_user.roles[0], user_name =current_user.name, leave_id = leave_applied.id) }}">Cancel Leave</a>
      {% elif cancel_leave == None %}
        <a class="btn btn-primary" href="{{ url_for('cancel_withdraw_leave_page', role = current_user.roles[0], user_name =current_user.name, leave_id = leave_applied.id, action = 'withdraw') }}">Withdraw Application</a>
      {% endif %}
    </center>
</body>

{% endblock %}

