{% extends 'base.html' %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color: white;">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Select Leave Category
            </h1>
            <br>

            {{ form.leave_category.label() }}
            {{ form.leave_category(class="form-control",placeholder="") }}

            
            <br>
            {{form.submit(class="btn-lg btn-block btn-primary")}}
        </form>
    </div>
</body>
{% endblock %}