{% extends 'base.html' %}

{% block content %}
<body>
    <center>
      <table class="key-value-table">
        <tbody>
            <br>
            <br>
            <tr>
                <th class="width-20">Name : </th>
                <td>{{ current_user.name }}</td>
            </tr>
            <br>
            <tr>
                <th>Designation : </th>
                <td>{{ current_user.designation }}</td>
            </tr>
            <br>
            <tr>
                <th>Department : </th>
                <td>{{ current_user.department }}</td>
            </tr>
            <br>
            <tr>
                <th>Email : </th>
                <td>{{ current_user.email_address }}</td>
            </tr>
            
        </tbody>
      </table>
      <br>
    
    </center>
</body>

{% endblock %}
