{% extends 'base.html' %}

{% block content %}

<body>
    
    <center><h4>Users</h4></center>
</body>
<br>
<table class="table table-hover table-dark">
  <thead>
      <tr>
          <!-- Your Columns HERE -->
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Email</th>
          <!-- <th scope="col" style="width: 250px">Status</th> -->
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for entry in users %}
          <tr>
              <td>{{ entry.username }}</td>
              <td>{{ entry.name }}</td>
              <td>{{ entry.department }}</td>
              <td>{{ entry.email_address }}</td>
              <td>
                <a class="btn btn-primary" href="{{ url_for('view_user_page_for_admin', user_name=current_user.username, target_user = entry.id) }}">View</a>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}